
.wc-sub-box-extra-action-loader-wrapper {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 9999999999;
}
.wc-sub-box-extra-action-loader-wrapper .wc-sub-box-extra-action-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-31px, -31px);
    transform: translate(-31px, -31px);
}
.wc-sub-box-extra-action-loader-wrapper .wc-sub-box-extra-action-loader::before {
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    -webkit-animation: spin 0.75s infinite linear;
    animation: spin 0.75s infinite linear;
    border: 6px #fff solid;
    border-left-color: red;
    border-radius: 100%;
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}